.monitization{
    margin-left: 15%;
    background-image: url(../../Globle_component/images/bgwp.jpg);
    height: 100vh;
}

.monitization-container{
    margin-left: 50px;
}

.monitization-topic{
    margin-bottom: 20px;
}

.monitization-topic h1{
    font-weight: bold;
}