.game-details{
    margin-left: 15%;
    background-image: url(../../Globle_component/images/bgwp.jpg);
    height: 100vh;
}

.game-details-container{
    margin-left: 50px;
}

.game-details-topic{
    margin-bottom: 20px;
}

.game-details-topic h1{
    font-weight: bold;
}