.user-settings{
    margin-left: 15%;
    background-image: url(../../Globle_component/images/bgwp.jpg);
    height: 100vh;
}

.user-settings-container{
    margin-left: 50px;
}

.user-settings-topic{
    margin-bottom: 20px;
}

.user-settings-topic h1{
    font-weight: bold;
}

.user-settings-table{
    border-collapse: collapse;
    width: 80%;
    margin-left: 7%;
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-color: #2e2e36; */
    background-color: #f7f9fc;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.user-settings-table th, td{
    padding: 8px;
}

.user-settings-table th{
    /* background-color: #19181d; */
    background-color: #e5eafe;
}

.user-settings-table tr:nth-child(even){
    /* background-color: #26252b; */
    background-color: #e5eafe;
}